<!DOCTYPE>
<html>
<head>
  <title>Go Tournament</title>
  <link rel="stylesheet" href="../app/css/kube.min.css">
  <link rel="stylesheet" href="../app/css/main.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="../app/vendor/jquery/dist/jquery.js"></script>
  <script src="../app/vendor/angular/angular.js"></script>
  <script src="../app/vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="../app/vendor/angular-gravatar/build/angular-gravatar.js"></script>
  <script src="../app/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../app/timer/timer.module.js"></script>
  <script src="../app/timer/timer.directives.js"></script>
  <script src="../app/app.module.js"></script>
  <script src="../app/app.controller.js"></script>
  <script src="../app/app.service.js"></script>
</head>
<body ng-app="go_tournament">
  <%- body %>
</body>
</html>
