<div ng-controller='MainController as MainCtrl'>
  <header>
    <h1>{{ MainCtrl.title }}</h1>
    <a ng-click="MainCtrl.reset()">Reset</a>
  </header>
  <main>
    <div class="units-row" ng-show="!MainCtrl.inited">
      <div class="unit-40 unit-centered">
        <form class="forms">
          <label>
            Name of the tournament
            <input type="text" ng-model="MainCtrl.title" class="width-100">
          </label>
        </form>
        <p>List the players who will be in this tournament.</p>
        <div class="table-container">
          <table class="width-100">
            <tr ng-repeat="player in MainCtrl.players">
              <td>{{ $index+1 }}</td>
              <td><input type="text" ng-model="player.name" class="width-100" placeholder="Name"></td>
            </tr>
          </table>
        </div>
        <hr>
        <button class="btn" ng-click="MainCtrl.players.push({})">Add Player</button>
        <button class="btn btn-green" ng-click="MainCtrl.init()">Done</button>

      </div>
    </div>

    <div class="units-row main" ng-show="MainCtrl.inited">
      <div class="unit-60">
        <h2>Current Scoreboard</h2>
        <div class="table-container">
          <table class="width-100">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Win / Draw / Lose</th>
              <th>Points</th>
              <th>Played</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in MainCtrl.players | orderBy:['-won','-draw', '-points']">
              <td>
                <i class="fa fa-trophy gold" ng-show="player.rank == 1"></i>
                <i class="fa fa-trophy silver" ng-show="player.rank == 2"></i>
                <i class="fa fa-trophy bronze" ng-show="player.rank == 3"></i>
                {{ player.rank }}
              </td>
              <td><img class="avatar-icon" gravatar-src-once="player.name" gravatar-size="100"></td>
              <td>{{ player.won }} / {{ player.draw }} / {{ player.lost }}</td>
              <td>{{ player.points  }}</td>
              <td>{{ player.won + player.lost + player.draw }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="unit-40">
        <h2>Matches</h2>
        <p>Matches left: {{ MainCtrl.getMatchesLeft() }}</p>
        <form class="forms width-100">
          <div ng-repeat="match in MainCtrl.matches | orderBy:matchEvaluator" class="match units-row width-100"
               ng-class="match.status">
            <h4>#{{ match.index+1 }}</h4>
            <div class="unit-centered unit-70 units-row end">
              <div class="unit-40">
                <label>
                  <img class="avatar-icon" gravatar-src-once="match.players[0].name" gravatar-size="80">
                  <input
                      type="text"
                      ng-model="match.scores[0]"
                      class="width-100 input-score"
                      ng-disabled="MainCtrl.disableMatch(match.status)"
                      required>
                </label>
              </div>

              <div class="unit-20 divider">
                <img src="../../app/images/vs.png" width="50px" height="50px">
              </div>

              <div class="unit-40">
                <label>
                  <img class="avatar-icon" gravatar-src-once="match.players[1].name" gravatar-size="80">
                  <input
                      type="text"
                      ng-model="match.scores[1]"
                      class="width-100 input-score"
                      ng-disabled="MainCtrl.disableMatch(match.status)"
                      required>
                </label>
              </div>
            </div>
            <div class="left" ng-show="match.status == 'playing'">
              <timer endtime="match.endtime"></timer>
            </div>
            <div class="right">
              <button class="btn" ng-show="match.status == 'queued'" ng-click="MainCtrl.startMatch(match)">Start Match</button>
              <button class="btn" ng-show="match.status == 'playing'" ng-click="MainCtrl.endMatch(match)">End Match</button>
              <button class="btn" ng-show="match.status == 'ended'" ng-click="MainCtrl.editMatch(match)">Edit Match</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>